.joinView {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titleJoin {
  margin-left: 5rem;
}
.idcheckbutton {
  float: right;
  width: 25%;
  margin-left: 0.3rem;
}

.inputidforjoin {
  margin-left: 2rem;
}
